<div class="auth container">
    <div class="row row_auth">
        <div id="login">
            {{#if loginError}}
                <p class="alert">{{loginError}}</p>
            {{/if}}

            <h1>Войти в магазин</h1>
            <form action="/auth/login" method="post">
                <div class="input-field">
                    <div class="input-field__control">
                        <label for="email" class="input-field__label">Email</label>
                        <input id="email" name="email" type="email" class="validate input-field__input" required>
                        <span class="helper-text" data-error="Введите email"></span>
                    </div>
                </div>
                <div class="input-field">
                    <div class="input-field__control">
                        <label for="password" class="input-field__label">Пароль</label>
                        <input id="password" name="password" type="password" class="validate input-field__input" required>
                        <span class="helper-text" data-error="Введите пароль"></span>
                    </div>
                </div>
                <input type="hidden" name="_csrf" value="{{csrf}}">
                <p><a href="/auth/reset">Забыли пароль?</a></p>
                <button class="btn btn-primary" type="submit">Войти</button>

            </form>
        </div>

        <div id="register">
            {{#if registerError}}
                <p class="alert">{{registerError}}</p>
            {{/if}}

            <h1>Создать аккаунт</h1>
            <form action="/auth/register" method="post">
                <div class="input-field">
                    <div class="input-field__control">
                        <label for="reemail" class="input-field__label">Email</label>
                        <input id="reemail" name="email" type="email" class="validate input-field__input" required>
                        <span class="helper-text" data-error="Введите email"></span>
                    </div>
                </div>
                <div class="input-field">
                    <div class="input-field__control">
                        <label for="rpassword" class="input-field__label">Пароль</label>
                        <input id="rpassword" name="password" type="password" class="validate input-field__input" required>
                        <span class="helper-text" data-error="Введите пароль"></span>
                    </div>
                </div>
                <div class="input-field">
                    <div class="input-field__control">
                        <label for="confirm" class="input-field__label">Пароль еще раз</label>
                        <input id="confirm" name="confirm" type="password" class="validate input-field__input" required>
                        <span class="helper-text" data-error="Введите пароль еще раз"></span>
                    </div>
                </div>
                <div class="input-field">
                    <div class="input-field__control">
                        <label for="name" class="input-field__label">Ваше имя</label>
                        <input id="name" name="name" type="text" class="validate input-field__input" required>
                        <span class="helper-text" data-error="Введите имя"></span>
                    </div>
                </div>
                <input type="hidden" name="_csrf" value="{{csrf}}">
                <button class="btn btn-primary" type="submit">Зарегистрироваться</button>

            </form>
        </div>
    </div>
</div>

