@import "colors.scss";
@import "auth.scss";
@import "home.scss";
@import "shop.scss";
@import "profile.scss";
@import "vinyl.scss";
@import "orders.scss";
@import "cart.scss";
@import "add-edit.scss";
@import "partials/info.scss";
@import "partials/footer.scss";
@import "partials/navbar.scss";
@import "components/button.scss";
@import "components/input.scss";
@import "components/link.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', serif;
}

html, body{
  a {
    color: $black;
    text-decoration: none;
    position: relative;
  }
  .lock{
    overflow: hidden;
  }
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.alert {
  padding: .5rem 1rem;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 1rem;
  background: rgba(255, 0, 0, .3);
  color: red;
}