@import "colors.scss";

.profile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  h1 {
    margin: 20px 0;
  }

  &__info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    > div {
      margin: 0 30px;
    }
  }

  &__data {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    > div {
      margin: 0 30px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__avatar-border {
    max-width: 300px;
    height: 300px;
    border: 2px solid $black;
    border-radius: 50%;
    overflow: hidden;

    img {
      max-width: 300px;
      height: auto;
    }
  }
}
