@import "colors.scss";

.shop-header {
  height: 80px;
  font-size: 16px;
  background: $white;
  position: relative;
  a {
    color: $black;
    padding-bottom: 5px;
  }
  a::before {
    background-color: $black;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    div {
      ul {
        padding: 0;
        margin-top: 28px;
        margin-bottom: 0;
        li {
          display: inline-block;
        }
      }
    }
  }
  &__left {
    li {
      margin-right: 20px;
    }
  }
}