@import "colors.scss";

.card-animal-description {
  h3 {
    text-align: center;
  }
  .description {

    .price.big {
      font-size: 2rem;
    }
  }
}

.vinyl_shop_one {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}