<footer>
    <div class="footer">
        <div>
            <hr>
            <div class="footer__nav">
                <div class="footer__contacts">
                    <p>(с) Vyacheslav Gordeev</p>
                    <p>Telegram: @slavikpixel</p>
                    <p>Mail: ResSlavkaRes@mail.ru</p>
                    <p>ОГРН: 423443534253452</p>
                </div>
                <div class="footer__links">
                    <a href="">vk</a>
                    <a href="">tg</a>
                </div>
            </div>
        </div>
        <div class="footer__creation">
            <div>
                <p>Создание сайта:</p>
                <p>ChoodOFire</p>
            </div>
        </div>
    </div>
</footer>