<footer>
    <div class="footer">
        <div>
            <hr>
            <div class="footer__nav">
                <div class="footer__contacts">
                    <p>(с) Vyacheslav Gordeev</p>
                    <p>Telegram: @slavikpixel</p>
                    <p>Mail: ResSlavkaRes@mail.ru</p>
                </div>
                <div class="footer__links">
                    <p>
                        <a href="https://github.com/choodofire">GitHub</a>
                    </p>
                    <p>
                        <a href="https://t.me/slavikpixel">TG</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="footer__creation">
            <div>
                <p>Создание сайта:</p>
                <p>https://github.com/choodofire</p>
            </div>
        </div>
    </div>
</footer>