<div>
    <div class="container">
        <div class="sidebar">
            <div style="color: black; background: lightgray;">
                <h1>Opportunities:</h1>
                <p><a href="/info">-> Information <-</a></p>
            </div>
            <div style="color: black; background: lightgray;">
                <h1>Instruments:</h1>
                <ul>
                    <li>NodeJS</li>
                    <li>ExpressJS</li>
                    <li>MongoDB</li>
                    <li>SCSS</li>
                    <li>Handlebars</li>
                </ul>
            </div>
            <div style="color: black; background: lightgray;">
                <h1>Store</h1>
                <p>Gordeev Vyacheslav</p>
                <p>2020</p>
            </div>
        </div>
        <div class="main-slide">
            <div style="background-image: url('images/homePage-photos/vinylShop1.webp');"></div>
            <div style="background-image: url('images/homePage-photos/vinylShop2.webp');"></div>
            <div style="background-image: url('images/homePage-photos/vinylShop3.webp');"></div>
        </div>
        <div class="controls">
            <button class="down-button">
                <i class="fas fa-arrow-down">↓</i>
            </button>
            <button class="up-button">
                <i class="fas fa-arrow-up">↑</i>
            </button>
        </div>
    </div>
</div>
<script type="module" src="/slider.js"></script>
