<div>
    <div class="container">
        <div class="sidebar">
            <div style="color: black; background: linear-gradient(90deg, rgba(0,127,198,1) 22%, rgba(0,212,255,0.7231093120842087) 34%, rgba(255,237,69,0.8771709367340687) 67%);">
                <h1>VinylShop</h1>
                <p>Genres:</p>
            </div>
            <div style="color: black; background: linear-gradient(90deg, rgba(255,237,69,0.8771709367340687) 29%, rgba(0,212,255,0.7231093120842087) 67%, rgba(0,127,198,1) 81%);">
                <h1>VinylShop</h1>
                <p>Formats:</p>
            </div>
            <div style="color: black; background: linear-gradient(90deg, rgba(0,127,198,1) 22%, rgba(0,212,255,0.7231093120842087) 34%, rgba(255,237,69,0.8771709367340687) 67%);">
                <h1>VinylShop</h1>
                <p>Музыкальный магазин</p>
            </div>
        </div>
        <div class="main-slide">
            <div style="background-image: url('images/homePage-photos/vinylShop1.webp');"></div>
            <div style="background-image: url('images/homePage-photos/vinylShop2.webp');"></div>
            <div style="background-image: url('images/homePage-photos/vinylShop3.webp');"></div>
        </div>
        <div class="controls">
            <button class="down-button">
                <i class="fas fa-arrow-down">↓</i>
            </button>
            <button class="up-button">
                <i class="fas fa-arrow-up">↑</i>
            </button>
        </div>
    </div>
</div>
<script type="module" src="/slider.js"></script>
