<div class="info">
    <h1>Information</h1>
    <p>This project is a web shop application developed using Node.js, Express.js, Handlebars and MongoDB. <br>
        The application provides functionality for the administrator and the buyer. <br>
    </p>
</div>