<div class="info">
    <h1>Информация</h1>
    <p>Этот проект представляет собой веб-приложение магазина, разработанное с использованием Node.js, Express.js, Handlebars и MongoDB. <br>
        Приложение обеспечивает функциональность для администратора и покупателя. <br>
    </p>
    <br>
    <div>
        <p>Основные функции администратора:</p>
        <ul>
            <li>вход в систему: Администратор может войти в систему, используя свои учетные данные;</li>
            <li>управление товарами: Администратор может добавлять, удалять и редактировать товары в магазине;</li>
            <li>управление пользователями: Администратор может просматривать информацию о пользователях, включая заказы, и выполнять необходимые действия при необходимости.</li>
            <li>уведомления заказов: После успешного оформления заказа администратор получает уведомление о новом заказе;</li>
        </ul>
    </div>
    <br>
    <div>
        <p>Основные функции пользователя:</p>
        <ol>
            <li>регистрация и вход в систему: Покупатели могут зарегистрироваться, создавая учетные записи, и входить в систему с использованием своих учетных данных;</li>
            <li>просмотр товаров: Покупатели могут просматривать список доступных товаров с информацией о каждом товаре, включая название, описание и цену;</li>
            <li>корзина: Покупатели могут добавлять выбранные товары в корзину, просматривать содержимое корзины и удалять товары при необходимости;</li>
            <li>оформление заказа: Покупатели могут оформить заказ, указав необходимую информацию, такую как адрес доставки и контактные данные;</li>
            <li>оплата заказа через телеграм-бота: После оформления заказа покупателю предоставляется возможность оплатить его с помощью телеграм-бота;</li>
            <li>уведомления заказов: После успешного оформления заказа пользователь получает уведомление о разных статусах заказов;</li>
        </ol>
    </div>
</div>