@import "../colors.scss";

$animation-duration: 0.5s;

@mixin label-active() {
  font-size: 0.75rem;
  transform: translateY(-15px);
}

.input-field {
  display: block;
  margin: 16px 0;
  width: 300px;

  &--is-active {
    .input-field__control {
      &::before {
        width: 100%;
        left: 0;
      }
    }
    .input-field__label {
      color: $black;
      @include label-active();
    }
  }
  &--is-filled {
    .input-field__label {
      @include label-active();
    }
  }

  &__label {
    display: block;
    font-size: 1.1rem;
    font-weight: normal;
    left: 0;
    margin: 0;
    padding: 18px 12px 0 ;
    position: absolute;
    top: 0;
    transition: all $animation-duration;
    width: 100%;
  }

  &__control {
    background: #eee;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    position: relative;
    width: 100%;

    &::before {
      border-bottom: 2px solid $black;
      content: '';
      bottom: 0;
      right: 0;
      position: absolute;
      width: 0%;
      height: 2px;
      transition: $animation-duration;
    }
  }

  &__input,
  &__textarea {
    appearance: none;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #999;
    color: #333;
    display: block;
    font-size: 1.2rem;
    margin-top: 24px;
    outline: 0;
    padding: 0 12px 10px 12px;
    width: 100%;
  }

  &__textarea {
    height: 150px;
  }
}